<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: layout(~{::section})}"
>
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>

</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row login-container">
            <div class="col-md-6 p-0">
                <img src="img/ecom.png" class="img-fluid login-image" alt="E-commerce illustration">
            </div>
            <div class="col-md-6 login-form p-5">
                <h2 class="text-center login-header mb-4">RESET PASSWORD</h2>
                <th:block th:if="${session.successMsg}">
                    <p class="text-success fw-bold text-center">[[${session.successMsg}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSessionMsg()}"></th:block>
                </th:block>

                <th:block th:if="${session.errorMsg}">
                    <p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSessionMsg()}"></th:block>
                </th:block>
                <form action="/forgot-password" method="post">
                    <div class="mb-4">
                        <label class="form-label">Email</label>
                        <input class="form-control" name="email" type="email" placeholder="Enter your email">
                    </div>
                    <button type="submit" class="btn btn-primary btn-login w-100 mb-4">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>